@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Inter&family=Nanum+Pen+Script&display=swap");

@import "reset.css";

body {
  height: 90vh;
}

.status-bar {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 10px;
  background-color: aquamarine;
}
.status-bar span {
  font-size: 30px;
  font-family: "Big Shoulders Stencil Display", cursive;
}
.search-box {
  position: relative;
  bottom: 25px;
  align-items: center;
  display: flex;
  height: 50px;
  padding: 0 20px;
}
.search-box input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 10px -3px teal;
}
.search-box input::placeholder {
  opacity: 0.4;
}
.search-box input:focus {
  outline: none;
}
.search-box i {
  position: relative;
  left: -30px;
}
.main-list {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-list h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-size: 40px;
}
.main-list__firstimg {
  display: flex;
  padding: 15px 0;
}
.main-list__firstimg img {
  width: 100px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}
.main-list h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.main-list__row {
  padding: 10px;
}
.main-list h3 {
  padding-bottom: 15px;
  opacity: 0.4;
}
.main-list__firstimg span {
  margin-right: 20px;
}
.main-list-icon {
  display: flex;
}
.main-list-icon div:first-child {
  margin-right: 70px;
  background-color: aquamarine;
  width: 30px;
  border-radius: 50%;
}
.main-list-icon i {
  position: relative;
  left: 9px;
  top: 6px;
}
.main-list-icon div:nth-child(2) {
  background-color: black;
  color: white;
  display: flex;
  height: 30px;
  border-radius: 10px;
  align-items: center;
}
.main-list-icon span {
  position: relative;
  left: 10px;
  font-size: 15x;
}
.main-list__booklist img {
  width: 80px;
  height: 120px;
  border-radius: 10px;
}
.main-list__booklist {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.main-list__author img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  margin-right: 20px;
}
.main-list__author {
  display: flex;
  padding: 10px;
}
